@inject IJSRuntime Js

<div class="overflow-hidden">

    <Animate Animation="Animations.ZoomOut" DurationMs="250" @ref="imageModalAnimation"
        class="fixed inset-0 w-screen h-screen bg-black/95 backdrop-blur-[1px] flex flex-col z-[1000] overflow-hidden transition-all">
        <div class="w-full h-fit flex justify-between items-center p-4">
            <div class="flex items-center gap-2">
                @if (!ImageDetails.IsSentByCurrentUser)
                {
                    <div>
                        <img class="h-[50px] w-[50px] rounded-full object-cover"
                            src="@(ImageDetails.UserProfilePictureUrl  ??  "/images/Avatar.png")" />
                    </div>
                }

                <div>
                    <div class="font-semibold text-gray-200">@(ImageDetails.IsSentByCurrentUser ? "You"
                        : ImageDetails.UserName)</div>
                    <div class="font-light text-sm text-gray-300">
                        @ImageDetails.Timestamp.ToLocalTime().ToString("dd/MM/yyyy h:mm tt")</div>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button @onclick="DownloadImage" title="Download">
                    <svg class="w-6 h-6 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
                    </svg>
                </button>



                <button @onclick="CloseClicked" title="Close"
                    class="p-2 rounded-lg hover:bg-gray-600 transition-colors">
                    <svg class="w-8 h-8 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="h-full w-full flex justify-center items-center">
            <img class="max-h-[650px] max-w-[650px] md:max-h-[800px] md:max-w-[800px] object-cover rounded-md"
                src="@ImageDetails.ImageUrl" alt="@($"Image sent by {ImageDetails.UserName}")" />
        </div>
    </Animate>

</div>


@code {
    private Animate imageModalAnimation = new();
    [Parameter] public EventCallback OnCloseClicked { get; set; }
    [Parameter] public SentImageDetails ImageDetails { get; set; } = default!;

    protected override void OnInitialized()
    {
        imageModalAnimation.Run();
    }

    private void CloseClicked()
    {
        OnCloseClicked.InvokeAsync();
    }

    private async Task DownloadImage()
    {
        string url = ImageDetails.ImageUrl;
        await Js.InvokeVoidAsync("downloadImage", url, url);
    }
}
