@inject ApplicationState State

<div class="h-full w-full">
    <div class="text-2xl font-medium mb-5 dark:text-gray-100">Settings</div>

    <div class="space-y-2">
        @* Profile *@
        <SettingsMenuItem Name="@SettingsItemName.Profile"
            IsSelected="@(State.SelectedSettings == SettingsItemName.Profile)">
            <Icon>
                <svg class="p-1 w-6 h-6 text-white bg-blue-400 rounded-md" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z"
                        clip-rule="evenodd" />
                </svg>

            </Icon>
        </SettingsMenuItem>

        @* Appearance *@
        <SettingsMenuItem Name="@SettingsItemName.Appearance"
            IsSelected="@(State.SelectedSettings == SettingsItemName.Appearance)">
            <Icon>
                <svg class="p-1 w-6 h-6 text-white bg-red-500 rounded-md" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 7h.01m3.486 1.513h.01m-6.978 0h.01M6.99 12H7m9 4h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 3.043 12.89 9.1 9.1 0 0 0 8.2 20.1a8.62 8.62 0 0 0 3.769.9 2.013 2.013 0 0 0 2.03-2v-.857A2.036 2.036 0 0 1 16 16Z" />
                </svg>
            </Icon>
        </SettingsMenuItem>

        @* About *@
        <SettingsMenuItem Name="@SettingsItemName.About"
            IsSelected="@(State.SelectedSettings == SettingsItemName.About)">
            <Icon>
                <svg class="p-1 w-6 h-6 text-white bg-sky-700 rounded-md" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                        clip-rule="evenodd" />
                </svg>


            </Icon>
        </SettingsMenuItem>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }
}