<aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-screen sm:w-80  h-screen transition-all -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full bg-white border-r border-gray-200 dark:border-gray-600  overflow-y-auto dark:bg-gray-700">
        <div class="top-0 flex justify-between items-center z-50   px-3 py-3">
            <div> @* Chats Button *@
                <button class="icon-btn" @onclick="DisplayChatsTab">
                    <svg class="w-6 h-6 @(!displayReqsTab && !displaySettingsTab ? @AppState.UserSettings.ColorScheme?.AccentsColor?.TextColor : "dark:text-white")"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z" />
                    </svg>
                </button>
            </div>

            <div> @* Search Users Button*@
                <button class="icon-btn" @onclick="SearchButtonClicked">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                    </svg>
                </button>
            </div>

            <div> @* Requests Button *@
                <RequestsTabButton OnClicked="DisplayContactsTab" DisplayReqsTab="@displayReqsTab" />
            </div>

            <div> @* Settings Button *@
                <button class="icon-btn w-full" @onclick="DisplaySettingsTab">
                    <svg class="w-6 h-6 @(displaySettingsTab ? @AppState.UserSettings.ColorScheme?.AccentsColor?.TextColor : "dark:text-white")"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M9.586 2.586A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2v.089l.473.196.063-.063a2.002 2.002 0 0 1 2.828 0l1.414 1.414a2 2 0 0 1 0 2.827l-.063.064.196.473H20a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-.089l-.196.473.063.063a2.002 2.002 0 0 1 0 2.828l-1.414 1.414a2 2 0 0 1-2.828 0l-.063-.063-.473.196V20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-.089l-.473-.196-.063.063a2.002 2.002 0 0 1-2.828 0l-1.414-1.414a2 2 0 0 1 0-2.827l.063-.064L4.089 15H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h.09l.195-.473-.063-.063a2 2 0 0 1 0-2.828l1.414-1.414a2 2 0 0 1 2.827 0l.064.063L9 4.089V4a2 2 0 0 1 .586-1.414ZM8 12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"
                            clip-rule="evenodd" />
                    </svg>

                </button>
            </div>
        </div>

        @if (displayChatsTab)
        {

            <Animate Animation="Animations.FadeIn" DurationMs="500" @ref="chatsTabAnimation">
                <div class="h-full w-full">
                    <ThreadsListView IsLoadingThreadsData="@isLoadingThreads"
                        OnCreateGroupClicked="(() => OnCreateGroupClickEventPropagated.InvokeAsync())" />
                </div>
            </Animate>

        }
        else if (displayReqsTab)
        {
            <Animate Animation="Animations.FadeIn" DurationMs="500" @ref="contactsTabAnimation">
                <div class="px-2">
                    <ContactRequestsListView DisplayRequests="@isDoneLoadingContactRequests" ErrorMessage="@errorMessage" />
                </div>
            </Animate>
        }
        else if (displaySettingsTab)
        {
            <Animate Animation="Animations.FadeIn" DurationMs="500" @ref="settingsTabAnimation">
                <div class="px-2">
                    <SettingsListView />
                </div>
            </Animate>
        }
    </div>
</aside>